{% load static %}
{% load i18n %}
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans "KYD FINANCES" %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/6012a26c72.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="{% trans 'Main Navigation' %}">
            <div class="navbar__container sign-up">
                <a href="/" class="navbar-logo">{% trans "KYD-FINANCE" %}</a>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock content %}

  

    <script src="{% static 'main/app.js' %}"></script>
</body>
</html>
