{% load static %}
{% load i18n %}
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="{{current_language}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% trans "KYD-FINANCES" %} {% block title %} {% endblock title%}</title>

  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://kit.fontawesome.com/6012a26c72.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=YOUR_PROPERTY_ID&product=inline-share-buttons" async="async"></script>

</head>

<body>
  <header>
    <nav class="navbar" role="navigation" aria-label="{% trans 'Main Navigation' %}">
      <div class="navbar__container">
        <a href="/" class="navbar-logo"> {% trans "KYD-FINANCE" %} </a>
       <ul class="navbar__menu">
  <li class="navbar__item">
    <a href="/" class="navbar__links">{% trans "Home" %}</a>
  </li>

  <li class="navbar__item dn">
    <div class="navbar__links language">
      <p>
        {% trans "Features" %}<i class="fa-solid fa-caret-down"></i>
      </p>

      <ul class="languages dropdown feature_">
        <li class="language__list feature_">
          <a href="/services" class="language__link feature_">{% trans "Services" %}</a>
        </li>
        <li class="languages__list feature_">
          <a href="/contact" class="language__link feature_">{% trans "Contact Us" %}</a>
        </li>
        <li class="languages__list feature_">
          <a href="{% url "blog:post_list" %}" class="language__link feature_">{% trans "Blog" %}</a>
        </li>
      </ul>
    </div>
  </li>

  <li class="navbar__item">
    <a href="/" class="navbar__links">{% trans "Pricing" %}</a>
  </li>

  <li class="navbar__item dn">
    <div class="navbar__links language">
      <p>
        Language: {% if LANGUAGE_CODE %}
          {{ LANGUAGE_CODE }}
        {% endif %}
        <i class="fa-solid fa-caret-down"></i>
      </p>

      <ul class="languages dropdown">
        {% for language in languages %}
          <li class="language__list">
            <a class="language__link" href="/{{ language.code }}/">
              {{ language.name_local }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </li>
{% if user.is_authenticated %}
    <li class="navbar__btn mobile">
            <a href="{% url 'logout-form' %}" class="navbar__links">{% trans "Sign Out" %}</a>
          </li>
        </ul>
        <div class="navbar__btn desktop ">
          <a href="{% url 'logout-form' %}" class="button log">{% trans "Sign Out" %}</a>
        </div>
  {% else %}
          <li class="navbar__btn mobile log">
            <a href="{% url 'register' %}" class="navbar__links ">{% trans "Sign In" %}</a>
          </li>

          <li class="navbar__btn mobile">
            <a href="{% url 'register' %}" class="navbar__links">{% trans "Sign Up" %}</a>
          </li>
       
        </ul>


        <div class="navbar__btn desktop ">
          <a href="{% url 'login' %}" class="button log">{% trans "Sign In" %}</a>
        </div>
        <div class="navbar__btn desktop">
          <a href="{% url 'register' %}" class="button">{% trans "Sign Up" %}</a>
        </div>
           {% endif %}
        <div class="navbar__toggle" id="mobile-menu">
          <div class="toggle"></div>
          <div class="toggle"></div>
          <div class="toggle"></div>
        </div>
      </div>
    </nav>
  </header>
 
     {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show">
        <span>{{ message }}</span>
        <button type="button" class="close" onclick="this.parentElement.style.display='none';">
          &times;
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}



{% block content %} {% endblock content %}

   
    <!-- footer section -->
<footer>
  <div class="footer__container">
    <div class="newsletter__container">
      <div class="newsletter__content">
        <h1>{% trans "Join our newsletter" %}</h1>
        <p>{% trans "Subscribe to our newsletter to get the latest updates on our services and promotions." %}</p>
      <form method="post">
      {% csrf_token %}
        {{  Newsletterform.as_p }}
    <button type="submit">{% trans "Subscribe" %}</button>
</form>
<div class="sharethis-inline-share-buttons"></div>

      </div>
    </div>
    <div class="footer__links">
      <div class="footer__links-wrapper">
        <div class="footer__links-items">
          <h2>{% trans "About Us" %}</h2>
          <a href="/">{% trans "How it works" %}</a>
          <a href="/">{% trans "Testimonials" %}</a>
          <a href="/">{% trans "Careers" %}</a>
          <a href="/">{% trans "Investors" %}</a>
          <a href="/">{% trans "Terms of Service" %}</a>
        </div>

        <div class="footer__links-items">
          <h2>{% trans "Contact Us" %}</h2>
          <a href="/">{% trans "Contact" %}</a>
          <a href="/">{% trans "Support" %}</a>
          <a href="/">{% trans "Destinations" %}</a>
          <a href="/">{% trans "Sponsorships" %}</a>
        </div>
      </div>

      <div class="footer__links-wrapper">
        <div class="footer__links-items">
          <h2>{% trans "Videos" %}</h2>
          <a href="/">{% trans "Submit Video" %}</a>
          <a href="/">{% trans "Ambassadors" %}</a>
          <a href="/">{% trans "Agency" %}</a>
          <a href="/">{% trans "Influencer" %}</a>
        </div>

        <div class="footer__links-items">
          <h2>{% trans "Social Media" %}</h2>
          <a href="/" target="_blank" rel="noopener noreferrer">{% trans "Facebook" %}</a>
          <a href="/">{% trans "Instagram" %}</a>
          <a href="/">{% trans "Linkedin" %}</a>
          <a href="/">{% trans "Github" %}</a>
        </div>
      </div>
    </div>

    <section class="social__media">
      <div class="social__media-wrap">
        <div class="footer__logo">
          <a href="/" id="footer-logo">{% trans "KYD-FINANCE" %}</a>
        </div>
        <p class="website__rights">
          {% trans "All rights reserved" %}  © {% trans "KYD-FINANCE" %} <span id="year"></span>
        </p>
        <div class="social__icons">
          <a href="/" class="social__icon-link" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="/" class="social__icon-link" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="/" class="social__icon-link" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="/" class="social__icon-link" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>

</main>

</div>
<script src="{% static 'main/app.js' %}"></script>
</body>

</html>
