@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "kumph sas", Sans-Serif;
  overflow-x: hidden;
}
/* navbar css */
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #000;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  position: fixed;
}

.navbar-logo {
  color: rgb(68, 68, 180);
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  text-decoration: none;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

/* added the hover effect */
.navbar__links:hover {
  color: rgb(68, 68, 180);
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  align-items: center;
}

.navbar__btn.mobile {
  display: none;
}

.navbar__btn.desktop {
  display: flex;
}

.button {
  background: rgb(68, 68, 180);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  display: flex;
  font-size: 1.5rem;
  margin: 0 27px;
}

/* Adding hover effect */
.button:hover {
  background: #3c90f0;
  transition: all 0.3 ease;
  padding: 12px 25px;

  border-radius: 5px;
}

.navbar__toggle {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar__toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;

    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
  }

  .toggle {
    display: block;
    width: 32px;
    height: 4px;
    margin: 7px 10px;
    transition: all 0.3s ease-in-out;
    background: #fff;
    border-radius: 4px;
  }

  #mobile-menu.is-active .toggle:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .toggle:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  #mobile-menu.is-active .toggle:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  .navbar__menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 80px;
    left: -100%;
    z-index: 10;
    background-color: #141414;
    transition: all 0.3s ease-in;
    opacity: 0;
    width: 70%;
    height: calc(100% - 80px);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #fff;
    box-shadow: 0 2px 5px #3c90f0;
  }

  .navbar__menu.active {
    left: 0;
    opacity: 1;
  }

  .navbar__item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* logo */
  .navbar-logo {
    font-size: 1.5rem;
  }

  /* sign up button */
  .navbar__btn.desktop {
    display: none;
  }

  .navbar__btn.mobile {
    display: flex;
    background: rgb(68, 68, 180);
    color: #fff;
    padding: 10px 3rem;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    display: flex;
    font-size: 1.5rem;
    margin: 0 27px;
    text-align: center;
    margin-top: 10px;
  }

  /* Adding hover effct to the navbar button */
  .navbar__btn.mobile:hover {
    background: #3c90f0;
    transition: all 0.3 ease;
    padding: 12px 25px;
    border-radius: 5px;
  }

  .navbar__links {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 410px) {
  .navbar__links {
    font-size: 1rem;
    padding: 0 0.1rem;
  }

  .navbar__btn.mobile {
    padding: 10px 20px;
    margin-top: 10px;
  }

  .navbar__menu {
    margin: 0;
  }
}

/* Hero section */

.hero {
  background-color: #141414;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  padding: 0 50px;
  max-width: 1500px;
  margin-top: 7rem;
}

@media screen and (max-width: 1350px) {
  .hero__container {
    max-width: 1300px;
  }
}
.hero__content {
  color: #fff;
  margin-top: 20px;
}

.hero__content h1 {
  font-size: 3rem;
}

.hero__content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.hero__button {
  font-size: 1.5rem;
  margin: 2rem;
  padding: 1rem 2rem;
  background-color: rgb(68, 68, 180);
  align-items: center;
  color: white;
  border-radius: 4px;
  border: none;
  transition: all 0.3s ease-in;
  position: relative;
  left: 30%;
  cursor: pointer;
}

.hero__button:hover {
  background-color: #3c90f0;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* styling the image */

.hero__img {
  text-align: center;
}

#hero-img {
  height: 90%;
  width: 90%;
}

/* mobile responsiveness for hero section */
@media screen and (max-width: 768px) {
  .hero__container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .hero__content {
    text-align: center;
    margin-bottom: 50px;
  }

  .hero__content h1 {
    font-size: 2rem;
    height: max-content;
  }

  .hero__content p {
    font-size: 1rem;
  }

  .hero__button {
    font-size: 1.2rem;
    left: 2%;
  }
}

/* rotating logos styling */

.rotating-logos__container {
  overflow: hidden;
  background-color: #f8f8f8;
  padding: 20px 0;
  white-space: nowrap;
}

.rotating-logos__container:hover .rotating-logos__trackn {
  animation-play-state: paused;
}

.rotating-logos__track {
  display: inline-block;
  white-space: nowrap;
  animation: rotate 13s linear infinite;
}

.rotating-logos__text {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin: 0 20px;
}

@keyframes rotate {
  from {
    transform: tranlateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* why choose us section */

.why-choose-us {
  text-align: center;
  background-color: rgb(68, 68, 180);
  padding: 35px 20px;
}

.why-choose-us h1 {
  font-size: 3rem;
  color: #fff;
  padding: 40px;
}

.intro-text p {
  color: #fff;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.feature {
  background-color: #141414;
  padding: 40px;
  text-align: left;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.2);
}

.feature i.icon {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 40px;
}

.feature h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 15px;
}

.feature p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.4;
}

/* adding mobile responsiveness */
@media screen and (max-width: 968px) {
  .features-grid {
    flex-direction: column;
    align-items: center;
  
  }
}

/* removing the line */
.fa-solid {
  line-height: normal !important;
}

/* Services styling */

.pricing {
  text-align: center;
  z-index: 1;
  padding: 1rem 2rem;
  background: #141414;
}

.pricing h2 {
  margin-bottom: 1.6rem;
}

.pricing-toggle {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.pricing-toggle .toggle-option {
  color: #fff;
  margin: 0 0.5rem;
  font-size: 1rem;
}

.pricing-toggle .percentage-save__container {
  width: 100px;
  display: inline-block;
  justify-items: center;
}

.pricing-toggle .percentage-saved {
  color: rgb(68, 68, 180);
  font-size: 1.2rem;
  font-weight: bold;

}

/* Adding the styling to toggle the box */

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(68, 68, 180); /* Change the background when checked */
}

input:checked + .slider::before {
  transform: translateX(50px); /* Move the toggle circle */
}

input:focus + .slider {
  box-shadow: 0 0 3px rgb(68, 68, 180); /* Add focus outline */
}


/* beginning services  */

.pricing .main-header {
  font-size: 2.5rem;
  color: #fff;
}

.services-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1.5rem;
}


.services-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #131313;
  width: 300px;
  height: auto;
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease,box-shadow 0.3s ease ;
  border: 1px solid rgb(68, 68, 180); /* Temporary for debugging */
}

.services-content {
  flex-grow: 1;
}

.services-card h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.services-card p{
  margin-bottom: 1.5rem;
  color: #131313;
}



.services-card ul {
  list-style: none;
  text-align: left;
  margin-bottom: 1rem;
  padding: 0;
}


.services-card ul li {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.price-card {
  text-align: center;
  margin-bottom: 24px;
}

.price-card .price {
  font-size: 1.5rem;
  color: #141414;
  margin: 1rem 0;
}

.service-button {
display: inline-block;
border: none;
color: #fff;
background-color: rgb(68, 68, 180);
padding: 0.75rem 2.5rem ;
text-decoration: none;
border-radius: 5px;
margin-bottom: 1rem;
cursor: pointer;
width: 100%;
transition: all 0.3s;
}

.service-button:hover {
  background-color: #3c90f0;
  transform: translateY(-2px);
}

.desc {
font-size: 1rem;
color: #999;
padding: 8px 8px;

-webkit-text-stroke: 0.5px black; /* Outline width and color */

}

.card-features {
  text-align: left;
}

.card-features .list {
  font-size: 1.3rem;
  color: #999;
  -webkit-text-stroke: 0.5px black; /* Outline width and color */
  height: 4rem;

}

span.line {
  display: block; /* Makes the span behave like a block-level element */
  width: calc(100% - 1rem);
  height: 2px;
  background: #000;
  border-radius: 1px;
  margin: 10px 0; /* Adds spacing above and below the line */
}



/* hiding texts */
.hidden {
  display: none;
}


.percentage-saved{
  display: none;
}


/* mobile responsiveness */
@media screen and (max-width: 968px) {
/* arranging the servucein column view */
.services-container {
  flex-direction: column;
  align-items: center;
}

.services-card{
width: 100%;
max-width: 400px;
}

.pricing-toggle{
  flex-direction: column;
  align-items: center;
  flex-direction: column;
 }
 .card-features .list{
  font-size: 1rem;
}
}



/* footer styling  */
.footer__container {
  background-color: #1b1a1a;
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#footer-logo {
  color: rgb(68, 68, 180);
  font-size: 1.5rem;
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-bottom: 1rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.footer__links-wrapper {
  display: flex;
}

.footer__links-items  {
  color: rgb(68, 68, 180);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  margin : 0 1rem;
  /* text-align: center; */

}

.footer__links-items a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
}

.footer__links-items h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(68, 68, 180);
  transition: all 0.3s;
}

.footer__links-items a:hover {
  color: rgb(68, 68, 180);
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.website__rights {
  color: #fff;
  margin-bottom: 1rem;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__icons-links {
  color:  rgb(68, 68, 180);
  font-size: 24px;
}


.fa-brands {
  color: #fff;
  line-height: normal !important;
  font-size: 2rem;


}

/* creating responsiveness */
@media screen and (max-width:968px) {
  .social__media {
    text-align: center;
}
.footer__links-wrapper  {
  flex-direction: column;
  margin: 0 auto;
}

.social__media-wrap {
  flex-direction: column;
}


.social__icons {
width: 50%;
}

.footer__container {
  padding: 2rem 0;
}

.footer__links-items a {
  margin-bottom: 1rem;
}


.footer__links-items {
  height: 30vh;
}
}

/* sign up page css code */

.header__container {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  text-align: center;
  padding: 10px 50px;
  background: #141414;
}


.header__text{
  padding: 10px;
}

.header__text h1 {
color: #f8f8f8;
font-size: 2.5rem;
font-weight: bolder;
-webkit-text-stroke: 0.9px rgb(0, 0, 0); /* Outline width and color */
}



@media screen and (max-width: 960px) {
  .header__text h1 {
    font-size: 2rem;
    }
  }

/* sign up card styling */

.navbar__container.sign-up{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #000;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  position: fixed;
}

.signup__container {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin: 0 auto;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
}

.signup__logo {
  color: rgb(68, 68, 180);
  font-size: 2rem;
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-top: 2rem;
  font-weight: bolder;
}


.signup__card{
  display: flex;
  position: fixed;
  top: 100px;
  background-color: black;
  color: #fff;
  width: 100%;
  height: 80vh;
  max-width: 550px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(68, 68, 180,0.5);
};


.signup__content{
  flex-grow: 1;
  margin: 0 10px;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  /* width: 80%; */
}

.signup__header{
  margin-bottom: 1.5rem;
}


.signup__header h1 {
  font-size: 2rem;
  color: #fff;
  margin-top: 1.5rem;
}


/* form styling  */
.signup__content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  gap: 1.5rem;
}

.signup__content form input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
}

.signup__content form input:focus {
  border: 1px solid rgb(68, 68, 180);
  outline: none;
}

.signup__container button {
  background: rgb(68, 68, 180);
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}

/* responsive cude for the form */

@media screen and (max-width: 968px) {
  .signup__card {
    max-width: 80vw;
    height:60%;
  }

  .signup__logo{
    font-size: 1.5rem;
  }

  .signup__container button {
    padding: 5px 30px;
    }

}

@media screen and (max-width: 410px) {
  .signup__card {
    max-width: 80vw;
    height:60%;
  }
  .signup__header h1{
    font-size: 1.3rem;
    margin-left: 17px;
    margin-right: 17px;
  }

  .signup__content form p {
    margin: 10px 0;
  }
}


/* Newsletter Form */
.footer__container {
  background-color: #1b1a1a;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.newsletter__container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin-bottom: 1rem;
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.newsletter__content {
  color: rgb(68, 68, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__content h1 {
  font-size: 2rem;
  color:rgb(68, 68, 180);
  margin-bottom: 10px;
}

.newsletter__content p {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 20px;
}

.newsletter__content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.newsletter__content form input {
  width: 100%;
  max-width: 400px;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  transition: border-color 0.3s ease;
}

.newsletter__content form input::placeholder {
  color: #999;
}

.newsletter__content form input:focus {
  border-color: rgb(68, 68, 180);
  outline: none;
}

.newsletter__content form button {
  background: rgb(68, 68, 180);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.newsletter__content form button:hover {
  background-color: #5050d1;
}

@media screen and (max-width: 768px) {
  .newsletter__container {
    padding: 15px;
  }

  .newsletter__content h1 {
    font-size: 1.8rem;
  }

  .newsletter__content p {
    font-size: 1rem;
  }

  .newsletter__content form input {
    font-size: 0.9rem;
  }

  .newsletter__content form button {
    font-size: 1rem;
  }
}
