{% extends 'base.html' %} 
{% load static %}
 {% load i18n %} 
 {% load static i18n %} 
{% block title%} | {{ post.get_translated_title }} {% endblock %} 
{% block content %}
<body>
	<section class="blog-details">
		<div class="blog__container detailblog">
			<div class="intro-text">
				<h1>{{ post.get_translated_title }}</h1>
			</div>
			<div class="blog__image-container homepage">
				<a href="{{ post.get_absolute_url }}">
					<img
						src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'main/images/no_img.avif' %}{% endif %}"
						alt=""
					/>
				</a>
			</div>
			<div class="blog__body detailblog">
				<p>{{post.get_translated_body}}</p>
			</div>
			
			 {% with comments.count as total_comments %}
    `			<div class="comment_count"><h2>
     				 {{ total_comments }} comment{{ total_comments|pluralize }}
   			 </h2>
			 </div>
  			{% endwith %}
		</div>
		<div class="comment">
			<div class="divider"></div>
			 {% with comments.count as total_comments %}
    `			<div class="comment_count">
			<h2>
     			{{ total_comments }} comment{{ total_comments|pluralize }}
   			 </h2>
			 </div>
			 {% endwith %}
			 	<div class="divider"></div>
		</div>

	</section>
</body>
{% endblock %}
