{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load static i18n %}

{% block title %} | {% trans "BLOG" %}{% endblock %}

{% block content %}
<section class="blog homeblog">
  <div class="blog__container homeblog">
    <div class="intro-text">
      <h1>{% trans "BLOG" %}</h1>
      <p>{% trans "Enjoy Our Blogs on all relevant topics" %}</p>
    </div>
    <div class="blog__body-container">
      {% for post in posts %}
      <div class="blog__card">
        <div class="blog__image-container">
          <a href="{{ post.get_absolute_url }}">
            <img
              src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'main/images/no_img.avif' %}{% endif %}"
              alt="">
          </a>
        </div>

        <div class="blog__header">
          <h1>{{ post.get_translated_title }}</h1>
        </div>

        <div class="blog__body">
          {{ post.get_translated_body|truncatewords:10 }}...
        </div>

        <div class="blog__button">
          <a href="{{ post.get_absolute_url }}">{% trans "Read More" %}</a>
        </div>

        <div class="blog__note">
          <div class="blog__author">
            {% trans "Author:" %} {{ post.author }}
          </div>
          <div class="blog__date">
            {% trans "Date:" %} {{ post.created|date:"l, F jS, Y" }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
   <div class="pagination"> {% include "pagination.html" with page=posts %}
 </div>
  </div>
</section>

{% endblock %}