<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <title>KYD FINANCES</title>
          <link rel="stylesheet" href="style.css">
          <script src="https://kit.fontawesome.com/6012a26c72.js" crossorigin="anonymous"></script>
        
        </head>
        
        <body>
          <header>
            <nav class="navbar" role="navigation" aria-label="Main-Navigation">
              <div class="navbar__container sign-up">
                <a href="/" class="navbar-logo"> KYD-FINANCE</a>
              </div>
            </nav>
          </header>
          <main>
               <div class="header__container">
                    >
               </div>
               <div class="signup__container">
                <div class="signup__card">
                  <div class="signup__content">
                    <div class="signup__logo">
                      KYD-FINANCE
                    </div>
                    <div class="signup__header">
                      <h1> Login To Your Account</h1>
                      <form action="/submit" method="post">
                        <input type="text" name="name" placeholder="UserName or Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit">Login</button>
                      </form>
                    <p>A New User? <a href="/signup.html">Sign Up</a></p>
                    </div>
                  </div>
                </div>
              </div>
              
          </main>


     <script src="app.js"></script>
</body>
</html>