{% extends 'accounts_base.html' %}
  {% load i18n %}
{% block content %}
<main>
  <div class="header__container">
      <!-- Placeholder for any additional content, if necessary -->
  </div>

  <div class="signup__container">
      <div class="signup__card">
          <div class="signup__content">


              <div class="signup__header">
              
                  <h1>{% trans "Login to Your Account" %} </h1>
                </div>
                  <form action="{% url 'accounts:login' %}" method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <input type="hidden" name="next" value="{{ next }}" />

                      <button type="submit" value="log-in-">{% trans 'Sign In' %}</button>
                  </form>
                  <p  class="signup__p">{% trans "New here?" %} <a href="{% url 'accounts:register' %}">{% trans "Create your account" %}</a></p>
              </div>
          </div>
      </div>
  </div>
</main>
{% endblock content %}