{% extends 'accounts_base.html' %} 
{% load i18n %} 
{% load static %}
{% block content %}
{% block title %} | Sign Out{% endblock %}

{% translate "Log Out" %}

<h1> {% translate "Are You sure wanna logout ?" %}
       {% trans "If yes click the button below, if no" %} <a href="{% url 'main:landing-page' %}">{% translate "Get back to shopping" %}</a>
</h1>

 <form id="logout-form" method="post" action="{% url 'logout' %}">
     {% csrf_token %}
     <input type="hidden" name="next" value="{{ next }}" />
     <button type="submit" value="log-out">{% trans 'Log Out ' %}</button>
 </form>
{% endblock content %}