{% extends 'accounts_base.html' %}
  {% load i18n %}
{% block content %}

{% block title %} | Password Reset{% endblock %}
<main>
  <div class="header__container">
      <!-- Placeholder for any additional content, if necessary -->
  </div>

  <div class="signup__container">
      <div class="signup__card">
          <div class="signup__content">
    

              <div class="signup__header">
                  <h1>{% trans "Reset Your Password" %}</h1>
                  <form  method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit">{% trans 'Send email' %}</button>
                  </form>
                  <p class="signup__p">{% trans "Had a change of mind?" %} <a href="{% url 'main:landing-page' %}">{% trans "BHome page" %}</a></p>
              </div>
          </div>
      </div>
  </div>
</main>
{% endblock content %}