{% extends 'accounts_base.html' %}
  {% load i18n %}
{% block content %}

{% block title %} | Password{% endblock %}
<main>
  <div class="header__container">
      <!-- Placeholder for any additional content, if necessary -->
  </div>

  <div class="signup__container">
          <div class="signup__content">
    

              <div class="signup__header">
                  <h1>{% trans "Change your passsword" %}</h1>
                  <h1> Your Password have beem successfully changed </h1>

                  <p class="signup__p">{% trans "Go back home" %} <a href="{% url 'main:landing-page' %}">{% trans "Go back to home page" %}</a></p>
              </div>
      </div>
  </div>
</main>
{% endblock content %}