{% extends 'accounts_base.html' %}
{% load i18n %}
{% load static %}


{% block title %} | Password change {% endblock title %}

{% block content %}
<div class="signup__container">
     <div class="signup__card">
         <div class="signup__content">


             <div class="signup__header">
               <h1>{% trans "Change your password" %}</h1>
                    <p>Use the form below to change your password.</p>
          <form method="post">
                {{ form.as_p }}
               <button type="submit" value="change">{% trans 'Change Password' %}</button>
                         {% csrf_token %}
          </form>
          <p class="signup__p">{% trans "have a change of mind?" %} <a href="{% url 'main:landing-page' %}">{% trans "Go back to home page" %}</a></p>
     </div>
</div>
</div>
</div>
</main>
{% endblock %}