{% extends 'accounts_base.html' %}
  {% load i18n %}
{% block content %}
{% load static %}

{% block title %} | Sign Up{% endblock %}
<main>
  <div class="header__container">
      <!-- Placeholder for any additional content, if necessary -->
  </div>

  <div class="signup__container">
      <div class="signup__card">
          <div class="signup__content">
              <div class="signup__header">
                  <h1>{% trans "Create Your Account" %}</h1>
                  <form action="{% url 'register' %}" method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit">{% trans 'Create Account' %}</button>
                  </form>
                  <div class="signup__options-container">
                  <div class="signup__option">
                    <p class="signup__p">{% trans "Already have an account?" %} <a href="{% url 'login' %}">{% trans "Log In" %}</a></p>
                    <p  class="signup__p 2">{% trans "Forgot your password?" %} <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a></p>
                </div>
                <div class="social__text">
                    Or SignUp Via
                </div>
                    <div class="social__login">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="social__icon-link sign-up">
          <img  src="{% static 'main/images/google.svg' %}" alt="{% trans "Hero Image" %}">
                        </p>
                          </a>
                    </div>
                  </div>                
              </div>
          </div>
      </div>
  </div>
</main>
{% endblock content %}